<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> </title>
</head>
<body>
    <a href="/products">BACK</a>
    <h1><%= product.name %></h1>
    <h3> Category: <%= product.category %> </h3>
    <h3> Price: $ <%= product.price %> </h3>
    <a href="/products/<%= product._id %>/edit"> EDIT </a>

    <form method="post" action="/products/<%= product._id %>?_method=DELETE">
        <button> DELETE </button>
    </form>
</body>
</html>